* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: silver;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 1rem;
  background-color: lightgray;
}

.page__container {
  max-width: 1000px;
  border: 2px solid dimgray;
}

.intro__text {
  padding: 1rem;
}

/* Method List  */
.methods__list {
  margin-bottom: 1.5rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: lightgrey;
}

/*  Link styles */
.link__style {
  list-style: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: black;
  color: yellow;
}

a:visited {
  color: steelblue;
}

/* Code Sample Box */
.sample__box {
  margin: auto;
  background: lightslategray;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* .sample__title { */
/* } */

code {
  background-color: dimgray;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid silver;
  border-radius: 1rem;
}

/* Code Sample */
.sample__code {
  color: white;
}

.method__syntax {
  /* padding: 1rem 0; */
  margin-top: 1rem;
  color: lightgrey;
}

.sample__facts {
  font-style: italic;
}

/* Method Info */
.info__display {
  padding: 1rem;
}

.info__display:nth-child(even) {
  background-color: lightgrey;
}

.info__title {
  color: steelblue;
}

.info__text {
  margin: 0.5rem;
}

/* Footer   */
footer {
  text-align: center;
  padding: 3rem;
}

.crimson {
  color: crimson;
}

/*  Media query respnsive screen */
@media only screen and (max-width: 640px) {
  header {
    font-size: 0.5rem;
  }

  .intro__text {
    font-size: 0.85rem;
  }

  ul {
    grid-template-columns: repeat(3, 1fr);
    padding: 0.75rem 0;
  }

  .link__style {
    font-size: 0.85rem;
    padding: 0.35rem 0;
  }

  .sample__title {
    font-size: 0.8rem;
  }

  .sample__code {
    font-size: 0.7rem;
  }

  .sample__facts {
    font-size: 0.9rem;
  }
}
